// Colors
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $background-color: #f8f8f8;
// $text-color: #333;

// Typography
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-unit: 1rem;
$spacing-header: 26px;
$spacing-unit-half: 0.5rem;
$spacing-unit-double: 2rem;

// Fonts
$font-path: '../../public/font/Qetod.ttf';

@font-face {
	font-family: 'Qetod';
	src: url(#{$font-path}) format('truetype');
}
